@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white/90 font-ubuntu;
}

.cl-avatarBox {
  @apply h-10 w-10;
}

.cl-internal-180wb59 {
  @apply hidden;
}

.cl-internal-11ttlho {
  @apply hidden;
}

.cl-formButtonPrimary {
  @apply bg-[#0f172a];
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}
